[Unit]
Description=Poll Quant Detective main branch for production updates

[Timer]
OnBootSec=5s
OnUnitInactiveSec=1s
AccuracySec=100ms
RandomizedDelaySec=0
Persistent=true
Unit=quant-detective-update.service

[Install]
WantedBy=timers.target
